* {
  font-family: Ubuntu;
}

.booking-row {
    float: left;
}

.table {
    padding-left: 30px;
    font-size: 30px;
    float: left;
}

.booking-row p {
    font-size: 25px;
}

.console-table {
    padding-left: 400px;
}

img {
    width: 230px;
    height: 230px;
}

.rickroll {
    float: right;
}