[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
flask = "*"
oauthlib = "*"
requests = "*"
pymysql = "*"
redis = "*"
flask-sqlalchemy = "*"
qrcode = {extras = ["pil"],version = "*"}
flask-cors = "*"
cryptography = "*"
gunicorn = "*"

[requires]
python_version = "3.11"
