[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8 = "*"

[packages]
mysql-connector-python = "*"
gunicorn = "*"
qrcode = {extras = ["pil"],version = "*"}
redis = "*"
Flask = "*"
Flask-Session = "*"
Flask-Cors = "*"
Flask-Limiter = "*"
requests = "*"
google-auth = "*"
google-api-python-client = "*"
pymysql = "*"

[requires]
python_version = "3.8"
