<html>
<head>
  <title>Datorklubben Bokningssystem</title>

  <link href="/static/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Datorklubben Bokningssystem</h1>
  <p>Programmerat av <a href="https://www.vilhelmprytz.se">Vilhelm Prytz</a>. {% if development_mode %}<i>Running Flask in development_mode. </i>{% endif %}<i>Kör version {{version}}.</i></p>

  <p>Tack för denna gång. Bokingssystemet är nu stängt men kommer att öppna innan nästa LAN.</p>

</body>
</html>
