<html>
<head>
  <title>Datorklubben Bokningssystem</title>
  <link href="/static/style.css" rel="stylesheet">
  <link href="/static/mobile.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <style>
    {% if id or bc_id or boka or bc_boka or swish_qr %}
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }

    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    {% endif %}
  </style>
</head>
<body>

  {% if id or bc_id or boka or bc_boka or swish_qr %}
  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      {% if id %}
      <p style="margin-block-start: 0px; margin-block-end: 0px;">Plats: {{id}}</p>
      <p style="margin-block-start: 0px; margin-block-end: 0px;">Bokat av: {{id_name}}, klass {{id_class}}</p>
      <p style="margin-block-start: 0px; margin-block-end: 0px;">Bokades: {{id_date}}</p>
      <p style="margin-block-start: 0px; margin-block-end: 0px;">Status: {{id_status}}</p>

      {% if not id_paid %}
      <img src="/api/swish/booking/qr/{{id}}">
      <p>Denna bokning är markerad som ej betald. Du kan skanna koden ovan i Swish-appen (alla fälten fylls i automatiskt). Om du precis redan har Swishat så kan det ta ett tag innan vi manuellt registrerar betalningen.</p>
      <p><i>Kontrolluppgifter: Telefonumret är <b>+46 73 033 31 85</b>. Mottagare i BankID ska stå som <b>VILHELM PRYTZ</b> (ekonomiansvarig).</i></p>
      {% endif %}

      {% elif bc_id %}
      <p><b>Konsol och brädsspelsplats</b></p>
      <p style="margin-block-start: 0px; margin-block-end: 0px;">Plats: {{bc_id}}</p>
      <p style="margin-block-start: 0px; margin-block-end: 0px;">Bokat av: {{bc_id_name}}, klass {{bc_id_class}}</p>
      <p style="margin-block-start: 0px; margin-block-end: 0px;">Bokades: {{bc_id_date}}</p>
      <p style="margin-block-start: 0px; margin-block-end: 0px;">Status: {{bc_id_status}}</p>

      {% if not bc_id_paid %}
      <img src="/api/swish/bc_booking/qr/{{bc_id}}">
      <p>Denna bokning är markerad som ej betald. Du kan skanna koden ovan i Swish-appen (alla fälten fylls i automatiskt). Om du precis redan har Swishat så kan det ta ett tag innan vi manuellt registrerar betalningen.</p>
      <p><i>Kontrolluppgifter: Telefonumret är <b>+46 73 033 31 85</b>. Mottagare i BankID ska stå som <b>VILHELM PRYTZ</b> (ekonomiansvarig).</i></p>
      {% endif %}

      {% elif swish_qr %}
      <img src="/static/swish.png" width="250px" height="300px">
      <p>Skanna koden ovan för slippa ange telefonnumer när du skickar din betalning.</p>
      <p><b>073 033 31 85</b>, glöm inte att ange namn och klass i meddelandet. Mottagare i BankID ska stå som <b>Vilhelm Prytz</b>.</p>
      {% elif boka %}
      <p><b>Boka plats</b></p>
      <table border="1">
          <form action="/api/book">
            <tr>
              <th>Förnamn</th>
              <th><input type="text" name="firstname" required></th>
            </tr>
            <tr>
              <th>Efternamn</th>
              <th><input type="text" name="lastname" required></th>
            </tr>
            <tr>
              <th>Klass</th>
              <th><input type="text" name="school_class" required></th>
            </tr>
            <tr>
              <th>Skolmailadress (du måste ange skolmailadress)</th>
              <th><input type="email" name="email" required></th>
            </tr>

            <tr>
              <th>Ange plats från listan som du önskar boka</th>
              <th>
                <select name="seat">
                  {% for seatId in available_seats %}
                  <option value="{{ seatId }}">{{ seatId }}</option>
                  {% endfor %}
                </select>
              </th>
            </tr>
        </table>
      <input type="submit" value="Skicka bokning">
      </form>
      <p>Skolmailadress används endast för att förhindra spam. Vi kommer inte skicka något till adressen.</p>
      {% elif bc_boka %}
      <p><b>Boka konsol- och brädspelsplats plats</b></p>
      <table border="1">
          <form action="/api/bc_book">
            <tr>
              <th>Förnamn</th>
              <th><input type="text" name="firstname" required></th>
            </tr>
            <tr>
              <th>Efternamn</th>
              <th><input type="text" name="lastname" required></th>
            </tr>
            <tr>
              <th>Klass</th>
              <th><input type="text" name="school_class" required></th>
            </tr>
            <tr>
              <th>Skolmailadress (du måste ange skolmailadress)</th>
              <th><input type="email" name="email" required></th>
            </tr>

            <tr>
              <th>Ange plats från listan som du önskar boka</th>
              <th>
                <select name="seat">
                  {% for seatId in bc_available_seats %}
                  <option value="{{ seatId }}">{{ seatId }}</option>
                  {% endfor %}
                </select>
              </th>
            </tr>
        </table>
      <input type="submit" value="Skicka bokning">
      </form>
      <p>Skolmailadress används endast för att förhindra spam. Vi kommer inte skicka något till adressen.</p>
      {% else %}
      <span class="close">&times;</span>
      <p>Ett fel uppstod, skriv gärna till Vilhelm Prytz i Discord angående felet!</p>
      {% endif %}
    </div>

  </div>

  <script>
  // Get the modal
  var modal = document.getElementById('myModal');

  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal
  modal.style.display = "block";

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
    window.location.href = "/";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
      window.location.href = "/";
    }
  }
  </script>
  </script>
  {% endif %}

  <!-- page content -->

  <h1>Datorklubben Bokningssystem</h1>
  <p>Programmerat av <a href="https://www.vilhelmprytz.se">Vilhelm Prytz</a>. {% if development_mode %}<i>Running Flask in development_mode. </i>{% endif %}<i>Running version {{version}}.</i></p>
  <p><b>Datum: {{event_date}}</b></p>

  <b><p>Info om lanet</p></b>
  <p><a href="/info">Tryck här</a> för att få info om LANet.</p>

  <b><p>Hur du bokar</p></b>

  <p>1. Använd bokningsknapparna nedan för att boka en plats. När du fyllt i bokningen och skickar den kommer du att få upp en QR-kod som du kan skanna med hjälp av Swish-appen. </p>
  <p>2. Öppna Swish-appen och tryck på symbolen längst upp till vänster (QR-kod symbolen). Du kan nu skanna koden som visas på din skärm, så ska Swish automatiskt fylla i telefonnumer, belopp och ditt namn & klass.</p>
  <p>3. Klart! Det kan ta ett tag innan vi manuellt uppdaterar statusen på din bokning (från gult till rött).</p>

  <b><p>Om du är på samma mobil som du ska Swisha ifrån</p></b>
  <p>Då kan du ange telefonnumer, belopp och meddelande manuellt. Mottagare ska vara <b>073 033 31 85</b>, belopp ska vara <b>100 kr</b> för vanlig plats och <b>50 kr</b> för en konsol- och brädspelsplats. Ange ditt namn och klass i meddelandet.</p>

  <p>Brädspel och konsolplatser är separerade i bokningsystemet.</p>

  <b><p>Vid problem / kontakt</p></b>
  <p>Om du har problem med bokningen eller om du vill ändra din bokning, kontakta Vilhelm Prytz (ekonomiansvarig) via Discord. Swishtelefonnumret går inte att ringa/SMSa till.</p>

  {% if success %}
  <font color="green"><p>Bokningen lyckades.</p></font>
  {% endif %}

  {% if fail %}
  <font color="red"><p>Ett fel uppstod vid bokning. Antingen lämnades ett fält tomt, otillåtna tecken upptäcktes, ogiltig mejladress angavs (inte skolmailadress) eller så har du redan bokat en gång (samma mailadress flera gånger).</p></font>
  {% endif %}

  <a href="/?boka=ja"><button>Boka vanlig plats</button></a>

  <a href="/?bc_boka=ja"><button>Boka konsol & brädsspelsplats (separat bokning)</button></a>

  <br>
  <br>

  <p>Vit ruta: Ledig plats</p>
  <p><font color="yellow">Gul ruta:</font> bokad, men ej betald plats (kan ta ett par dagar innan vi lägger in att den är betald)</p>
  <p><font color="red">Röd ruta:</font> bokad och betald</p>

  <p>Lediga platser: {{num_available_seats}}/{{num_all_seats}} (alltså totalt {{num_bookings}} bokade platser)</p>

  <p> Tryck på en bokad plats för att se vem som har bokat.</p>

  <h4 style="font-size: 1.5em; padding: 0px; margin: 0px; padding-left: 30px; float: left;">Vanliga platser</h4>
  <h4 style="font-size: 1.5em; padding: 0px; margin: 0px; padding-left: 380px;">Konsol- och brädspelsplatser</h4>

  <div class="table">
    <table class="booking-row" border="1">
        {% for seatId in all_seats[0:10] %}
          <tr><th {% for booked_id in booked_ids %}{% if booked_id[0]|int is eq(seatId|int) %}{% if booked_id[1]|int is eq(0) %}bgcolor="red"{% else %}bgcolor="yellow"{% endif %}{% endif %}{% endfor %}><p class="seat-number">{% for booked_id in booked_ids %}{% if booked_id[0]|int is eq(seatId|int) %}<a href="/?id={{seatId}}">{% endif %}{% endfor %}{{seatId}}</p>{% for booked_id in booked_ids %}{% if booked_id|int is eq(seatId|int) %}</a>{% endif %}{% endfor %}</th></tr>
        {% endfor %}
    </table>

    <table class="booking-row" border="1">
        {% for seatId in all_seats[10:20] %}
        <tr><th {% for booked_id in booked_ids %}{% if booked_id[0]|int is eq(seatId|int) %}{% if booked_id[1]|int is eq(0) %}bgcolor="red"{% else %}bgcolor="yellow"{% endif %}{% endif %}{% endfor %}><p class="seat-number">{% for booked_id in booked_ids %}{% if booked_id[0]|int is eq(seatId|int) %}<a href="/?id={{seatId}}">{% endif %}{% endfor %}{{seatId}}</p>{% for booked_id in booked_ids %}{% if booked_id|int is eq(seatId|int) %}</a>{% endif %}{% endfor %}</th></tr>
        {% endfor %}
    </table>
  </div>

  <div class="table">
    <table class="booking-row" border="1">
        {% for seatId in all_seats[20:30] %}
        <tr><th {% for booked_id in booked_ids %}{% if booked_id[0]|int is eq(seatId|int) %}{% if booked_id[1]|int is eq(0) %}bgcolor="red"{% else %}bgcolor="yellow"{% endif %}{% endif %}{% endfor %}><p class="seat-number">{% for booked_id in booked_ids %}{% if booked_id[0]|int is eq(seatId|int) %}<a href="/?id={{seatId}}">{% endif %}{% endfor %}{{seatId}}</p>{% for booked_id in booked_ids %}{% if booked_id|int is eq(seatId|int) %}</a>{% endif %}{% endfor %}</th></tr>
        {% endfor %}
    </table>

    <table class="booking-row" border="1">
        {% for seatId in all_seats[30:40] %}
        <tr><th {% for booked_id in booked_ids %}{% if booked_id[0]|int is eq(seatId|int) %}{% if booked_id[1]|int is eq(0) %}bgcolor="red"{% else %}bgcolor="yellow"{% endif %}{% endif %}{% endfor %}><p class="seat-number">{% for booked_id in booked_ids %}{% if booked_id[0]|int is eq(seatId|int) %}<a href="/?id={{seatId}}">{% endif %}{% endfor %}{{seatId}}</p>{% for booked_id in booked_ids %}{% if booked_id|int is eq(seatId|int) %}</a>{% endif %}{% endfor %}</th></tr>
        {% endfor %}
    </table>
  </div>

  <div class="table">
    <table class="booking-row" border="1">
        {% for seatId in all_seats[40:50] %}
        <tr><th {% for booked_id in booked_ids %}{% if booked_id[0]|int is eq(seatId|int) %}{% if booked_id[1]|int is eq(0) %}bgcolor="red"{% else %}bgcolor="yellow"{% endif %}{% endif %}{% endfor %}><p class="seat-number">{% for booked_id in booked_ids %}{% if booked_id[0]|int is eq(seatId|int) %}<a href="/?id={{seatId}}">{% endif %}{% endfor %}{{seatId}}</p>{% for booked_id in booked_ids %}{% if booked_id|int is eq(seatId|int) %}</a>{% endif %}{% endfor %}</th></tr>
        {% endfor %}
    </table>

    <table class="booking-row" border="1">
        {% for seatId in all_seats[50:61] %}
        <tr><th {% for booked_id in booked_ids %}{% if booked_id[0]|int is eq(seatId|int) %}{% if booked_id[1]|int is eq(0) %}bgcolor="red"{% else %}bgcolor="yellow"{% endif %}{% endif %}{% endfor %}><p class="seat-number">{% for booked_id in booked_ids %}{% if booked_id[0]|int is eq(seatId|int) %}<a href="/?id={{seatId}}">{% endif %}{% endfor %}{{seatId}}</p>{% for booked_id in booked_ids %}{% if booked_id|int is eq(seatId|int) %}</a>{% endif %}{% endfor %}</th></tr>
        {% endfor %}
    </table>
  </div>

  <div style="padding-left: 60px;" class="table">
    <table class="booking-row" border="1">
      {% for seatId in bc_all_seats %}
      <tr><th {% for booked_id in bc_booked_ids %}{% if booked_id[0]|int is eq(seatId|int) %}{% if booked_id[1]|int is eq(0) %}bgcolor="red"{% else %}bgcolor="yellow"{% endif %}{% endif %}{% endfor %}><p class="seat-number">{% for booked_id in bc_booked_ids %}{% if booked_id[0]|int is eq(seatId|int) %}<a href="/?bc_id={{seatId}}">{% endif %}{% endfor %}{{seatId}}</p>{% for booked_id in bc_booked_ids %}{% if booked_id|int is eq(seatId|int) %}</a>{% endif %}{% endfor %}</th></tr>
      {% endfor %}
    </table>
  </div>
  
  <div class="rickroll">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><button>Tryck här för gratis plats</button></a>
  </div>
</body>
</html>
