<html>
<head>
  <title>Datorklubben Bokningssystem - Info</title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

<!--

##############################################################################################################
#   _____        _             _    _       _     _                  ____              _    _                #
#  |  __ \      | |           | |  | |     | |   | |                |  _ \            | |  (_)               #
#  | |  | | __ _| |_ ___  _ __| | _| |_   _| |__ | |__   ___ _ __   | |_) | ___   ___ | | ___ _ __   __ _    #
#  | |  | |/ _` | __/ _ \| '__| |/ / | | | | '_ \| '_ \ / _ \ '_ \  |  _ < / _ \ / _ \| |/ / | '_ \ / _` |   #
#  | |__| | (_| | || (_) | |  |   <| | |_| | |_) | |_) |  __/ | | | | |_) | (_) | (_) |   <| | | | | (_| |   #
#  |_____/ \__,_|\__\___/|_|  |_|\_\_|\__,_|_.__/|_.__/ \___|_| |_| |____/ \___/ \___/|_|\_\_|_| |_|\__, |   #
#                                                                                                    __/ |   #
#                                                                                                   |___/    #
#                                                                                                            #
# Copyright (C) 2018 - 2019, Vilhelm Prytz <vilhelm@prytznet.se>                                             #
#                                                                                                            #
# This project is closed source. Allowed usage only covers the computer club on Tullinge gymnasium, Sweden.  #
# https://booking.vilhelmprytz.se                                                                            #
#                                                                                                            #
##############################################################################################################

-->

  <style>
  * {
    font-family: Ubuntu;
  }

  body {
    background-color: white;
  }
  </style>
</head>
<body>
  <h1>Datorklubben Bokningssystem - Info</h1>
  <p><a href="/">Återgå till startsidan.</a></p>
  <h4>FAQ</h4>

<p><i>Kontakta någon i styrelsen via Discord ifall du har några frågor!</i></p>

<p><b>När är det?</b>
<br>LANet är {{event_date}}.</p>

<p><b>Var är det?</b>
<br>Matsalen.</p>

<p><b>När får jag komma?</b>
<br>Du är välkommen att komma tidigast 17:30. Respektera dock att allting inte nödvändigtvis är klart då.</p>

<p><b>Vad ska jag ha med mig?</b>
<br>Vill du spela på en dator får du ta med dig en egen dator och lämpliga tillbehör.  Vill du spela på en konsol får du ta med dig en egen konsol och lämplig övrig utrustning. Vi tillhandahåller inga skärmar/möss/datorer etc. Vill du ta med dig något att äta/dricka får du göra det. Det kommer dock finnas en cafeteria där med både lättare mat, dryck och godsaker. Vi ser gärna att du tar med dig en egen stol om möjligt då det råder en smärre brist på stolar och vi kan inte garantera att alla får låna en stol.  Om du får låna en stol av skolan är det inte säkert att det blir den skönaste eller mest ergonomiska stolen (lösning: ta med en kudde att sitta på).</p>

<p><b>Vad ska jag inte ha med mig?</b></b>
<br>Enligt skolans regler FÅR DU INTE TA MED DIG NÖTTER då det finns elever som är allergiska mot nötter.  Saker som innehåller spår av nötter är dock okej. På grund av utrymmesbrist får du inte ta med dig mer än en skärm. Du får heller inte ta med dig någon form av minifrys/minikyl. <b>NOLLTOLERANS MOT ALKOHOL OCH DROGER</b>.</p>

<p><b>Kan jag lägga ut bilder på sociala medier?</b>
<br>Eftersom det kommer finnas en hel del utrustning koncentrerad på ett ställe uppskattar vi om ni kan vara försiktiga med användandet och inte lägga upp bilder på datorer och annan utrustning samt inte tagga en plats.</p>

<p><b>Kan mina vänner komma?</b>
<br>LAN:et är bara öppet för personer med anknytning till skolan. Besökare är välkomna på lördagen mellan 15:00-18:00 (preliminärt, hör med någon i styrelsen under LANet) om detta först meddelas till en ansvarig.</p>

<p><b>Skylarooooos point</b>
<br>För de som tänkt sova, vilket kan vara bra för alla att göra minst en gång, kommer detta ske i biblioteket där mattor från idrottssalen att tas in. Det går att låna dessa mattor eller ta med egen madrass/sovsäck. Det kan vara bra för alla att åtminstone ta med en kudde och filt eller liknande då golvet (även med mattor) är hårt och kallt att ligga på. I biblioteket har vi en inga-skor-policy, samt att det skall vara tyst från det att man öppnar dörren för att gå in till dess att man gått ut, då det kan finnas de som sover oavsett tid på dygnet. Det går även att sova på övervåningen, men ej inne i kontoret. Vi skulle även uppskatta om sovandet är limiterat till era datorplatser eller biblioteket, ifall olyckan skulle vara framme, blir det lättare för oss att utrymma om vi vet vart alla som kanske inte märker faran är.</p>

<h4>Checklista</h4>
<ul>
  <li>Dator/Konsol</li>
  <li>Skärm (max 1)</li>
  <li>Mus</li>
  <li>Tangentbord</li>
  <li>Strömkabel till skärm och dator</li>
  <li>DVI-/VGA-/HDMI-/DP-kabel (kabel mellan skärm och dator)</li>
  <li>Headset</li>
  <li>Grenkontakt(er)</li>
  <li>Musmatta</li>
  <li>Egen stol (om möjligt)</li>
  <li>Sovutrustning</li>
  <li>Ethernetkabel (längsta möjliga, helst >5m)</li>
  <li>Hygienartiklar (det finns dusch i omklädningsrummet)</li>
  <li>Snacks (om du inte litar på oss)</li>
</ul>

</body>
</html>
