<html>
<head>
  <title>Datorklubben Bokningssystem - Inloggning</title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

<!--

##############################################################################################################
#   _____        _             _    _       _     _                  ____              _    _                #
#  |  __ \      | |           | |  | |     | |   | |                |  _ \            | |  (_)               #
#  | |  | | __ _| |_ ___  _ __| | _| |_   _| |__ | |__   ___ _ __   | |_) | ___   ___ | | ___ _ __   __ _    #
#  | |  | |/ _` | __/ _ \| '__| |/ / | | | | '_ \| '_ \ / _ \ '_ \  |  _ < / _ \ / _ \| |/ / | '_ \ / _` |   #
#  | |__| | (_| | || (_) | |  |   <| | |_| | |_) | |_) |  __/ | | | | |_) | (_) | (_) |   <| | | | | (_| |   #
#  |_____/ \__,_|\__\___/|_|  |_|\_\_|\__,_|_.__/|_.__/ \___|_| |_| |____/ \___/ \___/|_|\_\_|_| |_|\__, |   #
#                                                                                                    __/ |   #
#                                                                                                   |___/    #
#                                                                                                            #
# Copyright (C) 2018 - 2019, Vilhelm Prytz <vilhelm@prytznet.se>                                             #
#                                                                                                            #
# This project is closed source. Allowed usage only covers the computer club on Tullinge gymnasium, Sweden.  #
# https://booking.vilhelmprytz.se                                                                            #
#                                                                                                            #
##############################################################################################################

-->

  <style>
  * {
    font-family: Ubuntu;
  }

  body {
    background-color: white;
  }
  </style>
</head>
<body>
  <h1>Datorklubben Bokningssystem - Inloggning</h1>
  <p>Programmerat av <a href="https://www.vilhelmprytz.se">Vilhelm Prytz</a>. {% if development_mode %}<i>Running Flask in development_mode. </i>{% endif %}<i>Kör version {{version}}.</i></p>

  <p>För att förhindra spamm krävs ett lösenord.</p>

  {% if wrongPassword %}
  <font color="red"><p>Fel lösenord angavs.</p></style>
  {% endif %}

  <form action="/api/lockpassword", method="POST">
    <input type="password" name="password" required>
    <input type="hidden" name="original_request_path" value="{{ original_request_path }}" required>
    <input type="submit" value="Skicka">
  </form>

</body>
</html>
